/**BASE STYLES**/
body{
  font-family: 'Source Sans Pro', sans-serif;
  color:#E0ECDE;
}

#about{
  height: 1050px;
}

#portfolio{
  height :850px;
}

#contact{
  height: 650px;
}


/**GRID**/
.full-width {
  width:1200px;
  margin: 0 auto;
}

.half-width{
  width:600px;
  margin:0 auto;
  float: left;
}

.third-width{
  width:400px;
  margin: 0 auto;
  float:left;
}

/**HEADER**/
/**NEED TO ADD PADDING AND MARGIN,SPAN TAG (HTML AS WELL), AND FIX IMAGE**/

header{
  height:800px;
  background-color:#DDDDDA;
}

header h1{
  font-family: 'Playfair Display', serif;
  font-size: 64pt;
  font-weight: bold;
  width:1200px;
  padding: 25px;
}

nav{
  float:right;
  padding: 25px 25px;
}

nav ul li{
  display:inline-block;
}

nav ul li a {
    text-transform: uppercase
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 80px;
  }

header h2{
    width:1200px;
    font-family: 'Playfair Display', serif;
    font-size: 48pt;

  }
header h1 span{
  color:#7697A0;
}

/***ABOUT**/
#about {
  background-color: #7697A0;
}
#about .full-width{
  padding: 80px 0;
}

#about h3{
font-size:36pt;
font-family: 'Playfair Display', serif;
text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#about p{
  font-size: 24pt;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 40px;
}
