/**BASE STYLES**/
body{
  font-family: 'Source Sans Pro', sans-serif;
  color:#E0ECDE;
}

#about{
  height: 1050px;
}

#portfolio{
  height :850px;
}

#contact{
  height: 650px;
}


/**GRID**/
.full-width {
  width:1200px;
  margin: 0 auto;
}

.half-width{
  width:600px;
  margin:0 auto;
  float: left;
}

.third-width{
  width:400px;
  margin: 0 auto;
  float:left;
}

/**HEADER**/

header{
  height:800px;
  background-color:#DDDDDA;
}

header h1{
  font-family: 'Playfair Display', serif;
  font-size: 64pt;
  font-weight: bold;
  width:1200px;
  padding: 25px;
}

nav{
  float:right;
  padding: 25px 25px;
}

nav ul li{
  display:inline-block;
}

nav ul li a {
    text-transform: uppercase
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 80px;
  }

header h2{
    width:1200px;
    font-family: 'Playfair Display', serif;
    font-size: 48pt;

  }
header h1 span{
  color:#7697A0;
}


/***ABOUT**/
#about {
  background-color: #7697A0;
}
#about .full-width{
  padding: 80px 0;
}

#about h3{
font-size:36pt;
font-family: 'Playfair Display', serif;
text-align: center;
}

#about p{
  font-size: 24pt;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 30px;
  text-align: center;
  padding-left:50px;
  padding-right:50px;
}

/**PORTFOLIO**/

#portfolio{
  background-color:#DDDDDA;
}

#portfolio h3{
  font-size:36pt;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

#portfolio .full-width{
  padding: 80px 0;
}

#portfolio p.subhead{
  font-family: 'Playfair Display', serif;
  text-decoration: underline;
  }

#portfolio p{
  font-size: 24pt;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 30px;
  text-align: center;
  padding-left:25px;
  padding-right:25px;
}

#portfolio img{
  padding-left:25px;
  padding-right:25px;
}

/****CONTACT***/

#contact{
  background-color:#7697A0;
}

#contact .full-width{
  padding: 80px 0;
}

#contact h3{
  font-size:36pt;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

#contact p.subhead{
  font-family: 'Playfair Display', serif;
  text-decoration: underline;
}

#contact p{
  font-size: 24pt;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 30px;
  text-align: center;
  padding-left:25px;
  padding-right:25px;
}

#contact p.social{
text-align: center;

}

#contact img{
display: inline-block;
float: none;

}
